{% if isConnectAccountsActivated %}
    <div vue-entry="ConnectAccounts.ConfigureConnection" manual-config-nonce="{{ nonce }}"
         manual-action-url="{{ linkTo({'action': 'configureClient', 'module': 'GoogleAnalyticsImporter'}) }}"
         primary-text="{{ 'GoogleAnalyticsImporter_ConfigureTheImporterLabel1'|translate }}"
         radio-options="{{ radioOptions|json_encode|e('html_attr') }}"
         manual-config-text="{{ manualUploadText|e('html_attr') }}"
         connect-accounts-url="{{googleAuthUrl|e('html_attr')}}"
         is-no-data-page="{{ isNoDataPage is defined }}"
         connect-accounts-btn-text="{{ 'ConnectAccounts_GaImportBtn' |translate}}"
         additional-help-text="{{ 'GoogleAnalyticsImporter_ConfigureTheImporterHelp'|translate('<strong>', '</strong>')|raw }}"></div>
{% else %}
    <div vue-entry="GoogleAnalyticsImporter.ConfigureConnection" config-nonce="{{ nonce }}"
         is-no-data-page="{{ isNoDataPage is defined }}"
         action-url="{{ linkTo({'action': 'configureClient', 'module': 'GoogleAnalyticsImporter'}) }}"></div>
{% endif %}