{% if isGA3 %}
<div class="ga-import-warning" piwik-alert="warning" id="ga3WarningNotification">
    {{ 'GoogleAnalyticsImporter_ConfigureTheImporterHelp'|translate('<strong>', '</strong>')|raw }}
    <button type="button" class="close" data-dismiss="alert"> × </button>
</div>
{% endif %}
<div class="right">
    <img src="plugins/GoogleAnalyticsImporter/images/google-analytics.png" style="height: 5rem;">
</div>
<p>{{ 'GoogleAnalyticsImporter_NoDataScreenIntro'|translate }}</p>
<br>

{% if isConnectAccountsActivated %}
    <p>{{ 'GoogleAnalyticsImporter_NoDataScreenOptionsDescription'|translate }}</p>
    <br>
    <ul class="list-style-decimal" id="manual-advance-option">
    <div vue-entry="ConnectAccounts.ConfigureConnection" manual-config-nonce="{{ nonce }}"
         manual-forward-to-auth-nonce="{{ auth_nonce }}"
         manual-action-url="{{ linkTo({'action': 'configureClient', 'module': 'GoogleAnalyticsImporter'}) }}"
         manual-authorize-url="{{ linkTo({'action': 'forwardToAuth', 'module': 'GoogleAnalyticsImporter'}) }}"
         manual-is-configured="{{ isConfigured|json_encode }}"
         index-action-url="{{ linkTo({'action': 'index', 'module': 'GoogleAnalyticsImporter'}) }}"
         primary-text="{{ 'GoogleAnalyticsImporter_ConfigureTheImporterLabel1'|translate }}"
         radio-options="{{ radioOptions|json_encode|e('html_attr') }}"
         manual-config-text="{{ manualUploadText|e('html_attr') }}"
         connect-accounts-url="{{googleAuthUrl|e('html_attr')}}"
         is-no-data-page="true"
         has-client-configuration="{{ hasClientConfiguration|json_encode }}"
         connect-accounts-btn-text="{{ 'ConnectAccounts_GaImportBtn' |translate}}"
         strategy="{{ strategy|json_encode }}"
         additional-help-text="{{ 'GoogleAnalyticsImporter_ConfigureTheImporterHelp'|translate('<strong>', '</strong>')|raw }}"></div>
    </ul>
{% else %}
    <p>{{ 'GoogleAnalyticsImporter_NoDataScreenFollowThisSteps'|translate }}</p>
    <ul class="list-style-decimal" id="manual-option">
    <div vue-entry="GoogleAnalyticsImporter.ConfigureConnection" config-nonce="{{ nonce }}"
         is-no-data-page="true"
         is-configured="{{ isConfigured|json_encode }}"
         has-client-configuration="{{ hasClientConfiguration|json_encode }}"
         forward-to-auth-nonce="{{ auth_nonce }}"
         index-action-url="{{ linkTo({'action': 'index', 'module': 'GoogleAnalyticsImporter'}) }}"
         action-url="{{ linkTo({'action': 'configureClient', 'module': 'GoogleAnalyticsImporter'}) }}"
         strategy="{{ strategy|json_encode }}"
         authorize-url="{{ linkTo({'action': 'forwardToAuth', 'module': 'GoogleAnalyticsImporter'}) }}"></div>
    </ul>
{% endif %}
<br>
<p>{{ 'GoogleAnalyticsImporter_NoDataScreenFollowStepComplete'|translate('<strong>', '</strong>', '<a href="'~ linkTo({'action': 'index', 'module': 'GoogleAnalyticsImporter'}) ~ '" target="_blank" rel="noreferrer noopener  ">', '</a>')|raw }}</p>
<script>
    $('body').on('click', '#ga3WarningNotification .close', function(){
        $('#ga3WarningNotification').hide();
    });
</script>