{% extends 'admin.twig' %}

{% set title %}{{ 'GoogleAnalyticsImporter_ConfigureTheImporter'|translate }}{% endset %}

{% block content %}
    <div
        vue-entry="GoogleAnalyticsImporter.AdminPage"
        has-client-configuration="{{ hasClientConfiguration|json_encode|e('html_attr') }}"
        is-configured="{{ isConfigured|json_encode|e('html_attr') }}"
        auth-nonce="{{ auth_nonce|json_encode|e('html_attr') }}"
        config-nonce="{{ nonce|json_encode|e('html_attr') }}"
        start-import-nonce="{{ startImportNonce|default(null)|json_encode|e('html_attr') }}"
        max-end-date-desc="{{ maxEndDateDesc|default(null)|json_encode|e('html_attr') }}"
        extra-custom-dimensions-field="{{ extraCustomDimensionsField|default(null)|json_encode|e('html_attr') }}"
        statuses="{{ statuses|default(null)|json_encode|e('html_attr') }}"
        stop-import-nonce="{{ stopImportNonce|default(null)|json_encode|e('html_attr') }}"
        change-import-end-date-nonce="{{ changeImportEndDateNonce|default(null)|json_encode|e('html_attr') }}"
        resume-import-nonce="{{ resumeImportNonce|default(null)|json_encode|e('html_attr') }}"
        schedule-re-import-nonce="{{ scheduleReImportNonce|default(null)|json_encode|e('html_attr') }}"
    ></div>
{% endblock %}
