{% extends 'admin.twig' %}

{% set title %}{{ 'GoogleAnalyticsImporter_ConfigureTheImporter'|translate }}{% endset %}

{% block content %}
    <div piwik-notification notification-id="ga-importer-help" context="info" type="transient" noclear="1" notification-title="{{ 'GoogleAnalyticsImporter_SettingUp'|translate }}">
        {{ 'GoogleAnalyticsImporter_ImporterHelp1'|translate }}
        {{ 'GoogleAnalyticsImporter_ImporterHelp2'|translate('<a href="https://matomo.org/docs/google-analytics-importer/" target="_blank" rel="noreferrer noopener">', '</a>')|raw }}
    </div>
    <div piwik-content-block
         content-title="{{ title|e('html_attr') }}"
    >
        {% if hasClientConfiguration %}
            {% if isConfigured %}
            <p>{{ 'GoogleAnalyticsImporter_ImporterIsConfigured'|translate }}</p>

            <a class="btn" href="{{ authUrl }}">{{ 'GoogleAnalyticsImporter_ReAuthorize'|translate }}</a>
            {% else %}
            <p>{{ 'GoogleAnalyticsImporter_ClientConfigSuccessfullyUpdated'|translate }}</p>

            <a class="btn" href="{{ authUrl }}">{{ 'GoogleAnalyticsImporter_Authorize' }}</a>
            {% endif %}
        {% else %}
            <form action="{{ linkTo({'action': 'configureClient'}) }}" method="POST" enctype="multipart/form-data">
                <p>{{ 'GoogleAnalyticsImporter_ConfigureClientDesc1'|translate }}</p>
                <p>{{ 'GoogleAnalyticsImporter_ConfigureClientDesc2'|translate }}</p>

                <div piwik-field uicontrol="file" name="clientfile"
                     title="{{ 'GoogleAnalyticsImporter_ConfigurationFile'|translate }}">
                </div>

                <div piwik-field uicontrol="textarea" name="client"
                     title="{{ 'GoogleAnalyticsImporter_ConfigurationText'|translate }}">
                </div>

                <input type="hidden" name="config_nonce" value="{{ nonce }}" />

                <button type="submit" class="btn">{{ 'General_Save'|translate }}</button>

            </form>
        {% endif %}
    </div>

    {% if hasClientConfiguration %}
    <div
        piwik-content-block
        content-title="{{ 'GoogleAnalyticsImporter_RemoveClientConfiguration'|translate }}"
    >
        <form action="{{ linkTo({'action': 'deleteClientCredentials'}) }}" method="POST" enctype="multipart/form-data">
            <p>{{ 'GoogleAnalyticsImporter_DeleteUploadedClientConfig'|translate }}:</p>

            <input type="hidden" name="config_nonce" value="{{ nonce }}" />

            <button type="submit" class="btn">{{ 'General_Remove'|translate }}</button>
        </form>
    </div>
    {% endif %}

    {% if hasClientConfiguration and isConfigured %}
        {# TODO: translate (including importstatus) #}

    <div
        piwik-content-block
        content-title="{{ 'GoogleAnalyticsImporter_ScheduleAnImport'|translate }}"
    >
        <div
            ng-controller="ImportSchedulerController as importScheduler"
        >
            <p>Schedule a new import below. It will be run once a day until the entire date range is imported. Note: we run it daily since there is a daily API request limit that Google enforces. Once it is reached, we can't continue importing until the next day. (This is generally hit after importing 4 months of data).</p>
            <p>Once the current day's reports are imported, the import will stop running.</p>

            <div piwik-field uicontrol="text" name="startDate"
                 ng-model="importScheduler.startDate"
                 title="{{ 'GoogleAnalyticsImporter_StartDate'|translate }}"
                 placeholder="{{ 'GoogleAnalyticsImporter_CreationDate'|translate }}"
                 inline-help="{{ 'GoogleAnalyticsImporter_StartDateHelp'|translate }}"
            >
            </div>

            <div piwik-field uicontrol="text" name="propertyId"
                 ng-model="importScheduler.propertyId"
                 title="{{ 'GoogleAnalyticsImporter_PropertyId'|translate }}"
                 placeholder="eg. UA-XXXXX-X"
                 inline-help="{{ 'GoogleAnalyticsImporter_PropertyIdHelp'|translate }}"
            >
            </div>

            <div piwik-field uicontrol="text" name="viewId"
                 ng-model="importScheduler.viewId"
                 title="{{ 'GoogleAnalyticsImporter_ViewId'|translate }}"
                 placeholder="eg. 1234567"
                 inline-help="{{ 'GoogleAnalyticsImporter_ViewIdHelp'|translate }}"
            >
            </div>

            <button type="submit" class="btn" ng-click="importScheduler.startImport()" ng-disabled="importScheduler.isStartingImport">{{ 'GoogleAnalyticsImporter_Start'|translate }}</button>
        </div>
    </div>

    <div
        piwik-content-block
        content-title="{{ 'GoogleAnalyticsImporter_ImportJobs'|translate }}"
    >
        {% if statuses is empty %}
        <p>There are no import jobs to display.</p>
        {% else %}
        <table
            class="entityTable importStatusesTable"
            ng-controller="ImportStatusController as importStatus"
        >
            <thead>
                <tr>
                    <th>Matomo Site</th>
                    <th>Google Analytics Info</th>
                    <th>Status</th>
                    <th>Latest Day Processed</th>
                    <th>Time Started</th>
                    <th>Time Finished</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for status in statuses %}
                {% set isDone = status.status != 'finished' and status.status != 'errored' %}
                <tr data-idsite="{{ status.idSite|e('html_attr') }}">
                    <td class="sitename">
                        {{ status.site.getName() }}
                        <br/>
                        Site ID: {{ status.idSite }}
                    </td>
                    <td class="ga-info">{{ status.gaInfoPretty|default|e('html')|nl2br|raw }}</td>
                    <td class="status">
                        {{ status.status }}
                        {% if status.status == 'rate_limited' %}
                            <span
                                class="icon icon-help"
                                title="Google Analytics by default limits the number of requests you can make to the API for a specific project to 50,000 a day. It looks like this import job has exceeded that limit, so the import cannot continue until tomorrow."
                            ></span>
                        {% endif %}
                    </td>
                    <td class="last-date-imported">
                        Last Day Imported: {{ status.last_date_imported|default('-') }}<br/>
                        Last Day Archived: {{ status.last_day_archived|default('-') }}
                    </td>
                    <td class="import-start-time">
                        Import Start Time: {{ status.import_start_time|default('-') }}<br/>
                        Last Resume Time: {{ status.last_job_start_time|default('-') }}
                    </td>
                    <td class="import-end-time">{{ status.import_end_time|default('-') }}</td>
                    <td class="actions">
                        <a ng-click="importStatus.deleteImportStatus({{ status.idSite|json_encode|raw|e('html_attr') }}, {{ isDone|json_encode|raw|e('html_attr') }})"
                           class="table-action icon-delete"
                           {% if not isDone %}
                           title="{{ 'General_Cancel'|translate }}"
                           {% else %}
                           title="{{ 'General_Remove'|translate }}"
                           {% endif %}
                        ></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
