{% extends 'admin.twig' %}

{% set title %}{{ 'GoogleAnalyticsImporter_ConfigureTheImporter'|translate }}{% endset %}

{% block content %}
    <div piwik-notification notification-id="ga-importer-help" context="info" type="transient" noclear="1" notification-title="{{ 'GoogleAnalyticsImporter_SettingUp'|translate }}">
        {{ 'GoogleAnalyticsImporter_ImporterHelp1'|translate }}
        {{ 'GoogleAnalyticsImporter_ImporterHelp2'|translate('<a href="https://matomo.org/docs/google-analytics-importer/" target="_blank" rel="noreferrer noopener">', '</a>')|raw }}
    </div>
    <div piwik-content-block
         content-title="{{ title|e('html_attr') }}"
    >
        {% if hasClientConfiguration %}
            {% if isConfigured %}
            <p>{{ 'GoogleAnalyticsImporter_ImporterIsConfigured'|translate }}</p>

            <a class="btn" href="{{ authUrl }}">{{ 'GoogleAnalyticsImporter_ReAuthorize'|translate }}</a>
            {% else %}
            <p>{{ 'GoogleAnalyticsImporter_ClientConfigSuccessfullyUpdated'|translate }}</p>

            <a class="btn" href="{{ authUrl }}">{{ 'GoogleAnalyticsImporter_Authorize'|translate }}</a>
            {% endif %}
        {% else %}
            <form action="{{ linkTo({'action': 'configureClient'}) }}" method="POST" enctype="multipart/form-data">
                <p>{{ 'GoogleAnalyticsImporter_ConfigureClientDesc1'|translate }}</p>
                <p>{{ 'GoogleAnalyticsImporter_ConfigureClientDesc2'|translate('<a href="https://matomo.org/docs/google-analytics-importer/" target="_blank" rel="noopener noreferrer">', '</a>')|raw }}</p>

                <div piwik-field uicontrol="file" name="clientfile"
                     title="{{ 'GoogleAnalyticsImporter_ConfigurationFile'|translate }}">
                </div>

                <div piwik-field uicontrol="textarea" name="client"
                     title="{{ 'GoogleAnalyticsImporter_ConfigurationText'|translate }}">
                </div>

                <input type="hidden" name="config_nonce" value="{{ nonce }}" />

                <button type="submit" class="btn">{{ 'General_Save'|translate }}</button>

            </form>
        {% endif %}
    </div>

    {% if hasClientConfiguration %}
    <div
        piwik-content-block
        content-title="{{ 'GoogleAnalyticsImporter_RemoveClientConfiguration'|translate }}"
    >
        <form action="{{ linkTo({'action': 'deleteClientCredentials'}) }}" method="POST" enctype="multipart/form-data" id="removeConfigForm">
            <p>{{ 'GoogleAnalyticsImporter_DeleteUploadedClientConfig'|translate }}:</p>

            <input type="hidden" name="config_nonce" value="{{ nonce }}" />

            <button type="submit" class="btn">{{ 'General_Remove'|translate }}</button>
        </form>
    </div>
    {% endif %}

    {% if hasClientConfiguration and isConfigured %}
    <div
        piwik-content-block
        content-title="{{ 'GoogleAnalyticsImporter_ScheduleAnImport'|translate }}"
    >
        <div
            ng-controller="ImportSchedulerController as importScheduler"
            ng-init="importScheduler.nonce = {{ startImportNonce|json_encode|e('html_attr') }}"
        >
            <p>{{ 'GoogleAnalyticsImporter_ScheduleImportDesc1'|translate }}</p>
            <p>{{ 'GoogleAnalyticsImporter_ScheduleImportDesc2'|translate }}</p>

            <div piwik-field uicontrol="text" name="startDate"
                 ng-model="importScheduler.startDate"
                 title="{{ 'GoogleAnalyticsImporter_StartDate'|translate }}"
                 placeholder="{{ 'GoogleAnalyticsImporter_CreationDate'|translate }}"
                 inline-help="{{ 'GoogleAnalyticsImporter_StartDateHelp'|translate }}"
            >
            </div>

            <div piwik-field uicontrol="text" name="endDate"
                 ng-model="importScheduler.endDate"
                 title="{{ 'GoogleAnalyticsImporter_EndDate'|translate }}"
                 placeholder="{{ 'GoogleAnalyticsImporter_None'|translate }}"
                 inline-help="{{ 'GoogleAnalyticsImporter_EndDateHelp'|translate }} {% if maxEndDateDesc|default is not empty %}{{ '<br/><br/>' ~ 'GoogleAnalyticsImporter_MaxEndDateHelp'|translate(maxEndDateDesc)|e('html_attr') }}{% endif %}"
            >
            </div>

            <div piwik-field uicontrol="text" name="propertyId"
                 ng-model="importScheduler.propertyId"
                 title="{{ 'GoogleAnalyticsImporter_PropertyId'|translate }}"
                 placeholder="eg. UA-XXXXX-X"
                 inline-help="{{ 'GoogleAnalyticsImporter_PropertyIdHelp'|translate }}"
            >
            </div>

            <div piwik-field uicontrol="text" name="accountId"
                 ng-model="importScheduler.accountId"
                 title="{{ 'GoogleAnalyticsImporter_AccountId'|translate }}"
                 placeholder="eg. 1234567"
                 inline-help="{{ 'GoogleAnalyticsImporter_AccountIdHelp'|translate }}"
            >
            </div>

            <div piwik-field uicontrol="text" name="viewId"
                 ng-model="importScheduler.viewId"
                 title="{{ 'GoogleAnalyticsImporter_ViewId'|translate }}"
                 placeholder="eg. 1234567"
                 inline-help="{{ 'GoogleAnalyticsImporter_ViewIdHelp'|translate }}"
            >
            </div>

            <div piwik-field uicontrol="checkbox" name="isMobileApp"
                 ng-model="importScheduler.isMobileApp"
                 title="{{ 'GoogleAnalyticsImporter_IsMobileApp'|translate }}"
                 inline-help="{{ 'GoogleAnalyticsImporter_IsMobileAppHelp'|translate }}"
            >
            </div>

            <div piwik-field uicontrol="text" name="timezone"
                 ng-model="importScheduler.timezone"
                 title="{{ 'GoogleAnalyticsImporter_Timezone'|translate }}"
                 placeholder="{{ 'GoogleAnalyticsImporter_Optional'|translate }}"
                 inline-help="{{ 'GoogleAnalyticsImporter_TimezoneHelp'|translate('<a href="https://www.php.net/manual/en/timezones.php" rel="noreferrer noopener">', '</a>') }}"
            >
            </div>

            <div piwik-field uicontrol="multituple" name="extraCustomDimensions"
                 ng-model="importScheduler.extraCustomDimensions"
                 title="{{ 'GoogleAnalyticsImporter_ExtraCustomDimensions'|translate }}"
                 inline-help="{{ 'GoogleAnalyticsImporter_ExtraCustomDimensionsHelp'|translate('<a href="https://ga-dev-tools.appspot.com/dimensions-metrics-explorer/" rel="noreferrer noopener">', '</a>') }}"
                 ui-control-attributes='{{ extraCustomDimensionsField|json_encode }}'
            >
            </div>

            <h3>{{ 'GoogleAnalyticsImporter_Troubleshooting'|translate }}</h3>

            <div piwik-field uicontrol="checkbox" name="isVerboseLoggingEnabled"
                 ng-model="importScheduler.isVerboseLoggingEnabled"
                 title="{{ 'GoogleAnalyticsImporter_IsVerboseLoggingEnabled'|translate }}"
                 inline-help="{{ 'GoogleAnalyticsImporter_IsVerboseLoggingEnabledHelp'|translate('/path/to/matomo/tmp/logs/', 'gaimportlog.$idSite.$matomoDomain.log') }}"
            ></div>

            <button type="submit" id="startImportSubmit" class="btn" ng-click="importScheduler.startImport()" ng-disabled="importScheduler.isStartingImport">{{ 'GoogleAnalyticsImporter_Start'|translate }}</button>
        </div>
    </div>

    <div
        id="importStatusContainer"
        piwik-content-block
        content-title="{{ 'GoogleAnalyticsImporter_ImportJobs'|translate }}"
    >
        {% if statuses is empty %}
        <p>{{ 'GoogleAnalyticsImporter_ThereAreNoImportJobs'|translate }}</p>
        {% else %}
        <div
                ng-controller="ImportStatusController as importStatus"
                ng-init="importStatus.nonce = {{ stopImportNonce|json_encode|e('html_attr') }}; importStatus.changeImportEndDateNonce = {{ changeImportEndDateNonce|json_encode|e('html_attr') }}; importStatus.resumeImportNonce = {{ resumeImportNonce|json_encode|e('html_attr') }}; importStatus.scheduleReImportNonce = {{  scheduleReImportNonce|json_encode|e('html_attr') }}"
        >
            {% set noneText %}{{ 'GoogleAnalyticsImporter_None'|translate }}{% endset %}
            {% set websiteCreationTime %}{{ 'GoogleAnalyticsImporter_CreationDate'|translate }}{% endset %}
            <table
                class="entityTable importStatusesTable"
            >
                <thead>
                    <tr>
                        <th>{{ 'GoogleAnalyticsImporter_MatomoSite'|translate }}</th>
                        <th>{{ 'GoogleAnalyticsImporter_GoogleAnalyticsInfo'|translate }}</th>
                        <th>{{ 'GoogleAnalyticsImporter_Status'|translate }}</th>
                        <th>{{ 'GoogleAnalyticsImporter_LatestDayProcessed'|translate }}</th>
                        <th>{{ 'GoogleAnalyticsImporter_ScheduledReImports'|translate }}</th>
                        <th>{{ 'GoogleAnalyticsImporter_StartFinishTimes'|translate }}</th>
                        <th>{{ 'GoogleAnalyticsImporter_Actions'|translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in statuses %}
                    {% set isDone = status.status == 'finished' %}
                    <tr data-idsite="{{ status.idSite|e('html_attr') }}">
                        <td class="sitename">
                            {% if status.site is not empty %}
                                <a href="{{ linkTo({ 'idSite': status.idSite, 'module': 'CoreHome', 'action': 'index', 'period': period|default('day'), 'date': date|default('today') }) }}" target="_blank">{{ status.site.getName() }}</a>
                            {% else %}
                                <span style="text-transform:uppercase;">{{ 'GoogleAnalyticsImporter_SiteDeleted'|translate }}</span>
                            {% endif %}
                            <br/>
                            {{ 'GoogleAnalyticsImporter_SiteID'|translate }}: {{ status.idSite }}
                        </td>
                        <td class="ga-info">{{ status.gaInfoPretty|default|e('html')|nl2br|raw }}</td>
                        <td class="status">
                            {{ status.status }}
                            {% if status.status == 'rate_limited' %}
                                <span
                                    class="icon icon-help"
                                    title="{{ 'GoogleAnalyticsImporter_RateLimitHelp'|translate }}"
                                ></span>
                                <br/>
                                {% if status.days_finished_since_rate_limit|default is not empty %}
                                {{ 'GoogleAnalyticsImporter_FinishedImportingDaysWaiting'|translate(status.days_finished_since_rate_limit) }}
                                {% endif %}
                            {% elseif status.status == 'errored' %}
                                <br/>
                                {{ 'GoogleAnalyticsImporter_ErrorMessage'|translate }}: {{ status.error|default('no message') }}
                                <br/>
                                {{ 'GoogleAnalyticsImporter_ErrorMessageBugReportRequest'|translate('<a href="https://forum.matomo.org/" rell="noreferrer noopener" target="_blank">', '</a>')|raw }}
                            {% elseif status.status == 'killed' %}
                                <span
                                        class="icon icon-help"
                                        title="{{ 'GoogleAnalyticsImporter_KilledStatusHelp'|translate }}"
                                ></span>
                            {% endif %}
                        </td>
                        <td class="last-date-imported">
                            {{ 'GoogleAnalyticsImporter_LastDayImported'|translate }}: {{ status.last_date_imported|default(noneText) }}<br/>
                            {{ 'GoogleAnalyticsImporter_LastDayArchived'|translate }}: {{ status.last_day_archived|default(noneText) }}<br/>
                            {{ 'GoogleAnalyticsImporter_ImportStartDate'|translate }}: {{ status.import_range_start|default(websiteCreationTime) }} <br/>
                            {{ 'GoogleAnalyticsImporter_ImportEndDate'|translate }}: {{ status.import_range_end|default(noneText) }} <br/>
                            {% if status.status != 'finished' %}
                            <br/>
                            <a class="edit-import-end-link table-command-link" href="" ng-click="importStatus.showEditImportEndDateModal({{ status.idSite|json_encode }})">{{ 'GoogleAnalyticsImporter_EditEndDate'|translate }}</a>
                            {% endif %}
                            <br/>
                            <a id="reimport-date-range" class="table-command-link" href="" ng-click="importStatus.openScheduleReimportModal({{ status.idSite|json_encode|e('html_attr') }})">
                                {{ 'GoogleAnalyticsImporter_ReimportDate'|translate }}
                            </a>
                        </td>
                        <td class="scheduled-reimports">
                            {% if status.reimport_ranges|default is not empty %}
                            <ul>
                                {% for entry in status.reimport_ranges %}
                                    <li>{{ entry[0] }},{{ entry[1] }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                {{ 'GoogleAnalyticsImporter_None'|translate }}
                            {% endif %}
                        </td>
                        <td class="import-start-finish-times">
                            {{ 'GoogleAnalyticsImporter_ImportStartTime'|translate }}: {{ status.import_start_time|default(noneText) }}<br/>
                            {{ 'GoogleAnalyticsImporter_LastResumeTime'|translate }}: {{ status.last_job_start_time|default(noneText) }}<br/>

                            {% if status.status == 'finished' %}
                                {{ 'GoogleAnalyticsImporter_TimeFinished'|translate }}: {{ status.import_end_time|default(noneText) }}
                            {% elseif status.estimated_days_left_to_finish|default is not empty %}
                                {% if status.estimated_days_left_to_finish matches '/^\\d+$/' and status.estimated_days_left_to_finish == 0 %}
                                {{ 'GoogleAnalyticsImporter_ThisJobShouldFinishToday'|translate }}
                                {% else %}
                                {{ 'GoogleAnalyticsImporter_EstimatedFinishIn'|translate(status.estimated_days_left_to_finish) }}
                                {% endif %}
                            {% elseif status.import_range_end|default is empty %}
                                {{ 'GoogleAnalyticsImporter_JobWillRunUntilManuallyCancelled'|translate }}
                            {% else %}
                                {{ 'General_Unknown'|translate }}
                            {% endif %}
                        </td>
                        <td class="actions">
                            <a ng-click="importStatus.deleteImportStatus({{ status.idSite|json_encode|raw|e('html_attr') }}, {{ isDone|json_encode|raw|e('html_attr') }})"
                               class="table-action {% if isDone %}icon-delete{% else %}icon-close{% endif %}"
                               {% if not isDone %}
                               title="{{ 'General_Cancel'|translate }}"
                               {% else %}
                               title="{{ 'General_Remove'|translate }}"
                               {% endif %}
                            ></a>

                            {% if status.status != 'finished' and status.status != 'ongoing' and status.status != 'started' %}
                            <a ng-click="importStatus.manuallyResume({{ status.idSite|json_encode|e('html_attr') }})"
                               class="table-action icon-play"
                               title="{{ 'GoogleAnalyticsImporter_ResumeDesc'|translate }}"
                            ></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="modal" id="openScheduleReimportModal">
                <div class="modal-content">
                    <h3>{{ 'GoogleAnalyticsImporter_EnterImportDateRange'|translate }}</h3>
                    <div
                            piwik-field
                            name="re-import-start-date"
                            uicontrol="text"
                            ng-model="importStatus.reimportStartDate"
                            placeholder="{{ 'GoogleAnalyticsImporter_StartDate'|translate }} (YYYY-MM-DD)"
                    >
                    </div>
                    <div
                            piwik-field
                            name="re-import-end-date"
                            uicontrol="text"
                            ng-model="importStatus.reimportEndDate"
                            placeholder="{{ 'GoogleAnalyticsImporter_EndDate'|translate }} (YYYY-MM-DD)"
                    >
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="scheduleReimportSubmit" href="" class="modal-action modal-close btn" ng-click="importStatus.scheduleReimport()">{{ 'GoogleAnalyticsImporter_Schedule'|translate }}</a>
                    <a href="" class="modal-action modal-close modal-no">{{ 'General_Cancel'|translate }}</a>
                </div>
            </div>

            <div class="modal" id="editImportEndDate">
                <div class="modal-content">
                    <h3>{{ 'GoogleAnalyticsImporter_EnterImportEndDate'|translate }}</h3>
                    <p><em>{{ 'GoogleAnalyticsImporter_LeaveEmptyToRemove'|translate }}</em></p>
                    <div
                            piwik-field
                            name="new-import-end-date"
                            uicontrol="text"
                            ng-model="importStatus.newImportEndDate"
                    >
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="modal-action modal-close btn" ng-click="importStatus.changeImportEndDateModal()">{{ 'GoogleAnalyticsImporter_Change'|translate }}</a>
                    <a href="" class="modal-action modal-close modal-no" ng-click="importStatus.cancelEditImportEndDateModal()">{{ 'General_Cancel'|translate }}</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="ui-confirm" id="confirmCancelJob">
        <h2>{{ 'GoogleAnalyticsImporter_CancelJobConfirm'|translate }}</h2>
        <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
        <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
    </div>
    {% endif %}
{% endblock %}
